---
import Layout from '../components/Layout.astro';
---

<Layout title="Sky High">
  <header>
    <h2>Sky High</h2>
    <ul class="nav">
      <li>1</li>
      <li>1</li>
      <li>1</li>
      <li>1</li>
    </ul>
  </header>
  <div class="hero">
    <h1>Sky High</h1>
    <h1>A game where you are a cube... in the sky.</h1>
    <a class="Link bordered">Download Now</a>
    <a>See other versions</a>
  </div>
</Layout> 

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    display: flex;
  }

  .hero {
    height: 1080px;
  }

  .Link {
    width: 50px;
    height: 20px;
    border-radius: 5px;
  }

  a.bordered {
    border: solid 1px white;
  }
</style>